
body{
  background-color: #BBBFCA ;
}
.article-title {
 display: inline-block;
 font-weight: bold;
 margin-bottom: 0;
 color: #ff4c68;
}
.author {
 display: inline-block;
 font-weight: 100;
 font-size: 40%;
 font-family: verdana, sans-serif;
 color: black;
}

.blog-heading{
  color: white;
}
.body-wrap{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.blogCarousel-image{
  height: 170px;
}

.contact-us{
  background-color: #142850;
  padding-top: 2%;
}
.contact-us-statement{
  color: white;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
}
.contact-us-statement-heading{
  text-align: center;
}
.contact-us-details{
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 1.25rem;
  text-align: center
}

.fb-like{
  text-align: left;
}
.footer{
  background-color: #00ABCC;
  text-align: center;
}
.float{
position:fixed;
width:60px;
height:60px;
bottom:7%;
right:12%;
background-color:#25d366;
color:#FFF;
border-radius:50px;
text-align:center;
  font-size:30px;
box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
margin-top:16px;
}
.navbar{
  background-color: #142850;
}
/* .item-to-hide{
  that is items on the nav bar
  display: none;
} */
.site-wrap {
  background-color: #27496D;
  margin: 0;
  padding: 0;
  border: 0;
}
.social-share{
  margin-right: 3% ;
}
.vision {
  color: #ff4c68;
}
.whatsapp-message{
  font-size: 40% ;
}

/* Specific styling for blog posts */

.textwrap-left{
  float: right;
  margin: 1% ;
  width: 40% ;
  height: 40% ;
}
.textwrap-right{
  float: left;
  margin: 1% ;
  width: 40% ;
  height: 40% ;
}
.published-date{
  font-weight: lighter;
  font-size: 80%;
}

/* Styling the LONGRICH page. Set height to 100% for body and html to enable the background image to cover the whole page: */
body, html {
  height: 100%
}

.page-one {
  /* Background image */
  background-image: url("../images/blog.jpeg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a text color to all elements inside the .page-one container */
  color: black;
  /* Add a font */

  /* Set the font-size to 25 pixels */

  font-weight: bolder;
}

/* Position text in the top-left corner */
.topleft-page {
  position: absolute;
  top: 10%;
  left: 2%;
  padding-right: 50%;
}

/* Position text in the bottom-left corner */
.bottomleft-page {
  position: absolute;
  bottom: 0;
  width: 60%;
  color: red;
  background-color: #00ABCC;
}
.pathway-heading{
  padding-left: 2%;
}

/* Position text in the middle */
.middle-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
hr {
  margin: auto;
  width: 40%;
}
.page-two {
  /* Background image */
  background-image: url("../images/blog3.jpg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: right;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a text color to all elements inside the .page-one container */
  color: black;
  /* Add a font */
  margin: 0;
}
.about-us{
  padding: 0;
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 2%;
}
.about-us-header{
  /* Set the font-size to 25 pixels */
  font-weight: bolder;

}

.page-three {
  /* Background image */
  background-image: url("../images/blog2.jpg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: top;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a text color to all elements inside the .page-one container */
  color: black;
  /* Add a font */
  margin: 0;
}
.about-longrich{
  padding: 0;
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 2%;
}
.about-longrich-header{
  /* Set the font-size to 25 pixels */
  font-weight: bolder;
}
.page-four {
  /* Background image */
  background-image: url("../images/blog4.jpg");
  background-color: black;
  /* Full-screen */
  /* height: 100%; */
  /* Center the background image */
  background-position: top;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a text color to all elements inside the .page-one container */
  color: white;
  /* Add a font */
  margin: 0;
}
.page4-intro{
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0;
}
h6.page4-intro{
  padding-top: 2%;
  padding-bottom: 1%;
}
.how-longrich-works{
  margin: 0;
}
hr{
  border: dotted #ff0000 6px;
  border-bottom: none;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1%;
  margin-top: 1%;
}

.page-five {
  /* Background image */
  background-image: url("../images/blog5.jpg");
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: top;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a text color to all elements inside the .page-one container */
  color: white;
  /* Add a font */
  margin: 0;
}
.difference-longrich{
  padding: 0 2%;
  margin: 2% 2% 1% 0;
  background-color: black;
}
.difference-longrich-header{
  /* Set the font-size to 25 pixels */
  font-weight: bolder;
}
.join-us-now{
  text-align: center;
  background-color: #ff0000;
}
.join-us-now-tag{
  padding: 0 1%;
}
.longrich-video{
  width: 100%;
}
